  <footer class="pb-6 lg:pt-12 footer-main z-50">
    <div class="container">

      {% block footer %}

        {% set query = craft.globalSets().handle('footer') %}
        {% set footerEntry = query.one() %}

        {% set query = craft.globalSets().handle('contactDetails') %}
        {% set contactEntry = query.one() %}

        <div class="row">
          <div class="col w-full md:w-4/12 lg:w-3/12 pb-10 md:pb-12 font-body ">
              <p>Adres</p>
              <p class="text-grey">
              {{ contactEntry.address|nl2br }}
              </p>
              <p class="pt-8">
              <a target="_blank" href="https://goo.gl/maps/9xjQ7chkEAJp1CJ8A" class="anim-underline-in">
                Route
              </a>
              </p>
          </div>
          <div class="col w-full md:w-4/12  lg:w-3/12 pb-10 md:pb-12 font-body ">
              <p>Contact</p>
              <ul class="text-grey">
                <li>{{ contactEntry.phoneNumber }}</li>
                <li>
                <a href="mailto:{{ contactEntry.emailAddress }}" class="anim-underline-in">{{ contactEntry.emailAddress }}</a>
                </li>
                <li>
                <a target="_blank" ref="https://api.whatsapp.com/send?phone=31648939296" class="anim-underline-in">
                  Whatsapp
                </a>

              </ul>
          </div>
          <div class="col w-full md:w-4/12 pb-10 md:pb-12 font-body ">
          <p>Social</p>
          <ul class="text-grey">
            {% for medium in footerEntry.socialMedia.all() %}
              <li>
              <a href="{{ medium.linkToPage }}" target="_blank" class="anim-underline-in">
              {{ medium.label }}
              </a>
              </li>
            {% endfor %}

          </ul>
          </div>
        </div>

        <p class="font-sub text-grey">
          &copy; {{ "now"|date("Y") }} fffunction studio
        </p>

      {% endblock %}

    </div>
  </footer>