{% if sectionClass is not defined %}
	{% set sectionClass = [''] %}
{% endif %}

{% if text is not defined %}
	{% set text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit' %}
{% endif %}

<section class="pt-12 pb-24 md:pb-32 {{ sectionClass|join(' ') }}">
	<div class="container">

		<div class="row">

			{% for item in vacancy.all() %}

				<div class="col w-full md:w-10/12 md:ml-2/12 fw:w-6/12 fw:ml-3/12">
					<p class="text-grey font-body">
						{{ item.subtitle }}
					</p>
					<p class="font-h2 font-medium">
						{% if item.linkedPage | length > 0 %}
							<a href="{{ item.linkedPage.one().url }}" class="anim-underline-in">
								{{ item.positionTitle }}
							</a>
						{% else %}
							{{ item.positionTitle }}
						{% endif %}

					</p>
				</div>

			{% endfor %}

		</div>

	</div>
</section>
