{% if size is not defined %}
  {% set size = "wide" %}
{% endif %}

{% if ratio is not defined %}
  {% set ratio = "original" %}
{% endif %}

{% if figureClass is not defined %}
  {% set figureClass = [""] %}
{% endif %}

{% if image is not defined %}
  {% set image = null %}
{% endif %}

{% if image is not null and image != "" %}
  {% if orientation is not defined %}
    {% if image.kind == 'video' %}
    {% set orientation = 'landscape' %}
    {% else %}
    {% set orientation = image.assetOrientation.value %}
    {% endif %}
  {% endif %}

  {% set transforms = [
    {
      handle: "sm",
      width: 375
    }, {
      handle: "md",
      width: 768
    }, {
      handle: "lg",
      width: 1280
    }, {
      handle: "fw",
      width: 1600
    }
  ] %}
  {% set srcset = [] %}

  {# if output width is smaller than or equal to the original image width #}
  {% for transform in transforms %}
    {% if transform.width <= image.width %}
      {% set srcset = srcset | merge([siteUrl ~ image.url(transform.handle) ~ " " ~ transform.width ~ "w"]) %}
    {% endif %}
  {% endfor %}

  {# output srcset #}

  {# <figure class="{{ size }} {{ ratio }} {% if orientation is defined %}{{ orientation }}{% else %}landscape{% endif %}">
    <img src="{{ siteUrl }}{{ image.url() }}" srcset="{{ srcset|join(', ') }}" sizes="50vw" alt="">
  </figure> #}

  {% if size == "full" and ratio == "strict" %}

    <figure class="{{ figureClass|join(' ') }} {{ size }} {{ ratio }} {% if orientation is defined %}{{ orientation }}{% else %}landscape{% endif %}">
      <div class="container">
        <div class="figure-sizer"></div>

        {% if image.kind == "video" %}
          <video autoplay loop muted playsinline>
            <source src="{{ siteUrl }}{{ image.url }}" type="video/mp4">
          </video>
        {% else %}
          <img src="{{ siteUrl }}{{ image.url() }}" alt="">
        {% endif %}

      </div>
    </figure>

  {% else %}

    <figure class="{{ figureClass|join(' ') }} {{ size }} {{ ratio }} {% if orientation is defined %}{{ orientation }}{% else %}landscape{% endif %}">
      <div class="figure-sizer"></div>
      {% if image.kind == "video" %}
        <video muted loop>
          <source src="{{ siteUrl }}{{ image.url }}" type="video/mp4">
        </video>
      {% else %}
        <img src="{{ siteUrl }}{{ image.url() }}" alt="">
      {% endif %}

    </figure>

  {% endif %}

{% else %}

  {% if size == "full" and ratio == "strict" %}

    <figure class="{{ figureClass|join(' ') }} {{ size }} {{ ratio }} {% if orientation is defined %}{{ orientation }}{% else %}landscape{% endif %} bg-grey">
      <div class="container">
        <div class="figure-sizer"></div>
        <img src="https://via.placeholder.com/1380x820" alt="">
      </div>
    </figure>

  {% else %}

    <figure class="{{ figureClass|join(' ') }} {{ size }} {{ ratio }} {% if orientation is defined %}{{ orientation }}{% else %}landscape{% endif %} bg-grey">
      <div class="figure-sizer"></div>
      <img src="https://via.placeholder.com/1380x820" alt="">
    </figure>

  {% endif %}

{% endif %}