{# Default page #}
{% set activePage = 'Journal' %}

{% extends "core/base.twig" %}

{# {% set articles = entry.articles.all() %} #}

{% paginate entry.articles.limit(1000) as pageInfo, articles %}

	{% block main %}

		<div class="bg-white text-black min-h-screen">

			<div class="header-offset"></div>
			<div class="lg:pt-6"></div>

			<section class="pt-6">
				<div class="container">

					<div class="row">
						{% for index in 0..1 %}

							{% set article = articles[index] %}

							{% set delay = 0 %}
							{% set marginLeft = 'fw:ml-1/12' %}
							{% if loop.index is even %}
								{% set delay = 200 %}
								{% set marginLeft = '' %}
							{% endif %}

							<div class="article anim-complete col w-full md:w-6/12 fw:w-5/12  pb-12 {{ marginLeft }} anim-move-in" data-anim-delay="{{ delay }}">
								<a href="{{ article.url() }}" class="anim-underline-in-trigger">
									<div class="pb-3 md:pb-6">
										{% include "components/figure.twig" with {
                    image : article.thumbnail.one(),
                    size: "overview",
                    ratio: "strict",
                    orientation: "landscape",
                    figureClass: ["desaturated"]
                  } %}
									</div>
								</a>
								<p class="font-body text-grey">
									{{ article.postDate|date("F d, Y") }}
								</p>
								<h3 class="font-h3 font-medium">
									<a href="{{ article.url() }}" class="anim-underline-in anim-underline-in-target">
										{{ article.title }}
									</a>
								</h3>
							</div>

						{% endfor %}

					</div>

				</div>
			</section>

			{% include "blocks/text-h2.twig" with {
      subtitle: entry.subtitle,
      text: entry.introText,
      sectionClass: ['no-padding-sm']
    } %}

			<section class="section-sm">
				<div class="container">

					<div class="row pt-12 ajax-content">
						{% for index in 2..(articles|length - 1) %}
							{% set article = articles[index] %}

							{% set delay = 0 %}
							{% set marginLeft = 'fw:ml-1/12' %}
							{% if loop.index is even %}
								{% set delay = 200 %}
								{% set marginLeft = '' %}
							{% endif %}

							<div class="article col w-full md:w-6/12 pb-12 md:pb-32 fw:w-5/12 {{ marginLeft }} anim-move-in" data-anim-delay="{{ delay }}">
								<a href="{{ article.url() }}" class="anim-underline-in-trigger">
									<div class="pb-3 md:pb-6">
										{% include "components/figure.twig" with {
                    image : article.thumbnail.one(),
                    size: "overview",
                    ratio: "strict",
                    orientation: "landscape",
                    figureClass: ["desaturated"]
                  } %}
									</div>
								</a>
								<p class="font-body text-grey">
									{{ article.postDate|date("F d, Y") }}
								</p>
								<h3 class="font-h3 font-medium">
									<a href="{{ article.url() }}" class="anim-underline-in anim-underline-in-target">
										{{ article.title }}
									</a>
								</h3>
							</div>

						{% endfor %}

					</div>

					{% if pageInfo.nextUrl %}
						<div class="load-articles relative h-40 font-body text-grey" data-next-url="{{ pageInfo.nextUrl }}">
							<div class="ajax-loader flex items-center">
								<div class="ajax-loader-inner">
									<label>●</label>
									<label>●</label>
									<label>●</label>
									<label>●</label>
									<label>●</label>
									<label>●</label>
								</div>
							</div>
						</div>
					{% endif %}

				</div>
			</section>

		</div>

		<div class="pt-12 lg:pt-0 bg-black"></div>

	{% endblock %}
