{# Default page #}

{% extends "core/base.twig" %}

{% block main %}
  <div class="bg-black text-white min-h-screen">

    <div class="header-offset"></div>

    {# {% if entry.subtitle == '' or entry.subtitle is null %}
      {% set subtitle = '&nbsp;' %}
      {% else %}
      {% set subtitle = entry.subtitle %}
    {% endif %} #}
    {% include "blocks/text-h2.twig" with {
      subtitle: entry.subtitle,
      text: entry.introText,
      sectionClass: ['lg:mt-6']
    } %}

    <section class="section-sm">
      <div class="container">

        <div class="row">
          {% for item in entry.cases.all() %}

            {% set delay = 0 %}
            {% set marginLeft = 'fw:ml-1/12' %}
            {% if loop.index is even %}
              {% set delay = 200 %}
              {% set marginLeft = '' %}
            {% endif %}

            <div class="col w-full lg:w-6/12 fw:w-5/12 pb-32 {{ marginLeft }} anim-move-in" data-anim-delay="{{ delay }}">
              <a href="{{ item.url() }}" class="anim-underline-in-trigger">
                <div class="pb-3 md:pb-6">
                  {% include "components/figure.twig" with {
                    image : item.thumbnail.one(),
                    orientation: "landscape",
                    size: "overview",
                    ratio: "strict"
                  } %}
                </div>
              </a>
              <h3 class="font-h3 font-medium">
                <a href="{{ item.url() }}" class="anim-underline-in anim-underline-in-target">
                  {{ item.title }}
                </a>
              </h3>
            </div>

          {% endfor %}

        </div>

      </div>
    </section>

  </div>

{% endblock %}